@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900,900i');
@mixin reset_a {
  left: auto;
  top: auto;
}

body {
  font-family: 'Roboto';
}

.brink {
  box-sizing: border-box;
  width: 240px;
  height: 200px;
  border: 20px solid #50e3c2;
}

.brink_t {
  background: repeating-linear-gradient(
    140deg,
    #50e3c2 0%,
    #50e3c2 10%,
    transparent 10%,
    transparent 20%
  );
  height: 100px;
  width: 220px;
}
.brink_f {
  background: #50e3c2;
}
.num {
  font-size: 48px;
}
h1,
h3 {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}
header,
#main,
footer {
  display: grid;
  // grid-template-columns: repeat(8, minmax(auto, 120px));
  // grid-template-rows: repeat(20, 100px);
  justify-content: center;
  position: relative;
  * {
    position: absolute;
  }
}
header {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: repeat(8, 100px);
  .top {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    grid-column: 2;
    a {
      background: black;
      &:link,
      &:active,
      &:visited {
        color: #ffffff;
        text-decoration: none;
      }
      &::before {
        content: '\f060';
        position: absolute;
        color: black;
        top: 3px;
        left: -30px;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
      }
    }
  }
  img {
    grid-column: 2 / -2;
    grid-row: 3 / span 4;
    width: 100%;
    height: 100%;
  }
  div:nth-child(2) {
    grid-column: 2 / -2;
    grid-row: 3 / span 4;
    right: -100px;
    bottom: -50px;
  }
  div:nth-child(3) {
    grid-column: 2 / -2;
    grid-row: 3 / span 4;
    left: -50px;
    top: -50px;
  }
  h1:first-of-type {
    grid-column: 7 / span 1;
    grid-row: 2 / 3;
    z-index: 2;
    align-self: flex-end;
    right: 0px;
  }
  h1:nth-of-type(2) {
    grid-column: 8 / span 1;
    grid-row: 3 / 4;
    writing-mode: vertical-lr;
  }
  .num {
    grid-column: 1 / 2;
    grid-row: 6/7;
    align-self: flex-end;
    justify-self: end;
    writing-mode: sideways-lr;
  }
  h1:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 7/8;
    transform: rotate(180deg);
  }
}
#main {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: repeat(6, 100px);
  .title {
    font-size: 48px;
  }
  .sub-title {
    font-size: 24px;
    top: 53px;
  }
  .side-title {
    font-style: italic;
    font-size: 24px;
    writing-mode: vertical-lr;
    grid-column: 2 / 3;
    grid-row: 2/3;
    white-space: nowrap;
  }
  .title,
  .sub-title {
    grid-row: 2/3;
    grid-column: 3 / -1;
  }
  .article {
    grid-row: 3/4;
    grid-column: 3/-2;
  }
}
footer {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: repeat(6, 100px);
  div:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
    top: 30px;
    left: 35px;
    width: 480px;
  }
  div:nth-child(2) {
    grid-column: -4 / span 1;
    grid-row: 2/ 3;
    width: 240px;
    height: 200px;
    background: #50e3c2;
    left: 60px;
  }
  div:nth-child(3) {
    border: 0px;
    background: repeating-linear-gradient(
      to bottom right,
      #50e3c2 0%,
      #50e3c2 8%,
      transparent 8%,
      transparent 16%
    );
    width: 240px;
    height: 100px;
    grid-column: 2;
    grid-row: -3;
    left: 80px;
    top: 80px;
    z-index: 3;
  }
  img {
    width: 100%;
    height: 100%;
  }
  img:first-of-type {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
    z-index: 2;
  }
  img:nth-of-type(2) {
    grid-column: 4 / span 4;
    grid-row: 3 / span 4;
  }
}
